<header>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1>My Bookstore</h1>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <a href="/search/a" class="btn btn-primary btn-letter">A</a>
                <a href="/search/b" class="btn btn-primary btn-letter">B</a>
                <a href="/search/c" class="btn btn-primary btn-letter">C</a>
                <a href="/search/d" class="btn btn-primary btn-letter">D</a>
                <a href="/search/e" class="btn btn-primary btn-letter">E</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/f" class="btn btn-primary btn-letter">F</a>
                <a href="/search/g" class="btn btn-primary btn-letter">G</a>
                <a href="/search/h" class="btn btn-primary btn-letter">H</a>
                <a href="/search/i" class="btn btn-primary btn-letter">I</a>
                <a href="/search/j" class="btn btn-primary btn-letter">J</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/k" class="btn btn-primary btn-letter">K</a>
                <a href="/search/l" class="btn btn-primary btn-letter">L</a>
                <a href="/search/m" class="btn btn-primary btn-letter">M</a>
                <a href="/search/n" class="btn btn-primary btn-letter">N</a>
                <a href="/search/o" class="btn btn-primary btn-letter">O</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/p" class="btn btn-primary btn-letter">P</a>
                <a href="/search/q" class="btn btn-primary btn-letter">Q</a>
                <a href="/search/r" class="btn btn-primary btn-letter">R</a>
                <a href="/search/s" class="btn btn-primary btn-letter">S</a>
                <a href="/search/t" class="btn btn-primary btn-letter">T</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/u" class="btn btn-primary btn-letter">U</a>
                <a href="/search/v" class="btn btn-primary btn-letter">V</a>
                <a href="/search/w" class="btn btn-primary btn-letter">W</a>
                <a href="/search/x" class="btn btn-primary btn-letter">X</a>
                <a href="/search/y" class="btn btn-primary btn-letter">Y</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/z" class="btn btn-primary btn-letter">Z</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/0" class="btn btn-primary btn-letter">0</a>
                <a href="/search/1" class="btn btn-primary btn-letter">1</a>
                <a href="/search/2" class="btn btn-primary btn-letter">2</a>
                <a href="/search/3" class="btn btn-primary btn-letter">3</a>
                <a href="/search/4" class="btn btn-primary btn-letter">4</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/search/5" class="btn btn-primary btn-letter">5</a>
                <a href="/search/6" class="btn btn-primary btn-letter">6</a>
                <a href="/search/7" class="btn btn-primary btn-letter">7</a>
                <a href="/search/8" class="btn btn-primary btn-letter">8</a>
                <a href="/search/9" class="btn btn-primary btn-letter">9</a>
            </div>
        </div>
    </div>
</main>